@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Roboto&display=swap');

body{
  background-color: #5cdb95;
}
.main-wrapper{

}
.main-wrapper h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
.main-wrapper p{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
}
.header{
  text-align: center;
  vertical-align: middle;
  margin-top: 100px;
  height: 100vh;
}
.section h1{
  color:"#05386b" !important;
}
.section{
  margin-top: 100px;
  margin-bottom: 100px;
}

.section p{
  font-size: 21px;
}
h1,h2,h3,h4,h5,p{
  color: #edf5e1;
}

.icons{
  font-size: 20px;
  color: #5cdb95;
}

.biohack-winners{
  padding: 30px;
  border-radius: 20px;
  background: #05386b;
  text-align: center;
  margin-bottom: 40px;
}

.biohack-winners p{
  font-size: 16px;
}

.biohack-winners img{
  width: 255px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.contact{
  padding: 40px;
  background: #05386b;
}
.contact h5{
  color: #5cdb95;
}

.contact a{
  padding: 10px;
  background: #05386b;
  border-radius: 50px;
  color: #5cdb95;
  font-size: 40px;
}

.contact a:hover{
  background: #5cdb95;
  color: #05386b;
}

.navigation-bar {
  background-color: #05386b;
}

.navigation-bar a{
  margin-right: 10px;
}

.navigation-bar div{
  padding: 13px;
}

.nav-bar-option {
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
}

.nav-bar-option:hover {
  background: #5cdb95;
  color: #05386b;
}