@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Roboto&display=swap');

.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Roboto&display=swap');

body{
  background-color: #fff;
}


.main-wrapper p{
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
  font-size: 14pt;
}

.navbar-toggler{
  background-color: #dd6e42;
}

.navigation-bar {
  background: #fff;
}

.navigation-bar a {
  margin-right: 10px;
}

.navigation-bar div{
  padding: 5px;
}

.nav-bar-option {
  font-size: 20px;
  padding: 10px;
  color: #dd6e42;
}

.nav-bar-option:hover {
  color: #e2eb98;
  -o-transition:color 2s ease-out, background 2s ease-in;
  -ms-transition:color 2s ease-out, background 2s ease-in;
  -moz-transition:color 2s ease-out, background 2s ease-in;
  -webkit-transition:color 2s ease-out, background 2s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 2s ease-in;
}


.hero{
  text-align: center;
  vertical-align: middle;
  height: 55vh;
}
.hero h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  margin-top: 200px;
  font-size: 72pt;
  text-shadow: 8px 8px #dd6e42;
}


.section{
  margin-top: 100px;
  margin-bottom: 100px;
}
.section h1{
  font-weight: 800 !important;
  color: #dd6e42 !important;
  font-size: 48pt;
  font-family: 'Open Sans', sans-serif;
}

.biohack-winners{
  margin: 10px;
  padding: 30px;
  border-radius: 10px;
  background: #f7e1da;
  text-align: center;
  margin-bottom: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 25px 0 rgba(0, 0, 0, 0.1);
}

.biohack-winners h4{
  color: #dd6e42;
}

.biohack-winners p{
  color: #dd6e42;
  text-align: left;
  font-size: 12pt;
}

.icons-card {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 80px;
  color: #dd6e42;
}

.icons-modal{
  font-size: 30px;
  text-align: center;
}

.modal-title{
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
}

/* Biohack winners modal css */
.biohack-winners-modal .modal-content{
  font-size: 18px;
  background: #f7e1da;
  color: #dd6e42;
  padding: 25px 25px 25px 25px;
}

.biohack-winners-card img{
  width: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.biohack-winners-card p{
  color: #282c34;
}

/* Biohack winners Slide view cards css */
.biohack-winners {
  margin: 10px;
  padding: 30px;
  border-radius: 10px;
  background: #f7e1da;
  text-align: center;
  margin-bottom: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 25px 0 rgba(0, 0, 0, 0.1);
}

.biohack-winners h4{
  color: #dd6e42;
}
.biohack-winners p{
  text-align: left;
  font-size: 12pt;
  color: #282c34;
}

.cardBody{
  font-size: 14pt;
}

.contact{
  padding: 30px;
}
.contact h5{
  color: #dd6e42;
  font-size: 14pt;
}
.contact a{
  color: #dd6e42;
  font-size: 30px;
}
.contact a:hover{
  color: #e2eb98;
  -o-transition:color 2s ease-out, background 2s ease-in;
  -ms-transition:color 2s ease-out, background 2s ease-in;
  -moz-transition:color 2s ease-out, background 2s ease-in;
  -webkit-transition:color 2s ease-out, background 2s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 2s ease-in;
}


.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.virus {
  height : 500px;
  width: 650px;
}

.cheeringVirus {
  height : 400px;
  width: 400px;
}


.thinking-virus {
  height: 400px;
  width: 400px;
}

.faqs{
  color: #f7e1da;
  width: 100%;
  margin-bottom: 10px;
  margin: 0 auto;
}


.faqs .faq {
  margin-bottom: 30px;
  padding: 15px;
  background-color: #dd6e42;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.faqs .faq .faq-question{
  margin: 10px;
  font-size: 25px;
  transition: all 0.3s ease-out;
}

.faqs .faq .faq-question .faq-arrow{
  margin-left: 15px;
  font-size: 25px;
  transition: ease-out;
}

.faqs .faq .faq-answer{
  margin: 10px;
  font-size: 18px;
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.3s ease-out;
}

/* When the component is clicked */
.faqs .faq.open {
  background-color: #f7e1da;
  color: #dd6e42;
}

.faqs .faq.open .faq-question {
  margin-bottom: 15px;
}

.faqs .faq.open .faq-question .faq-arrow {
  transform: rotate(180deg);
  transition: ease-out;
}

.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
}

.btn{
  background-color: #dd6e42 ;
  color: #ffffff;
  border: none;
  
}

.btn:hover{
  background-color: #ffffff;
  color: #dd6e42;
}

hr {
  width: 0 auto;
  background-color: #dd6e42;
}
/* .SliderWrapper{
  width: 100%;
  padding: 32px;
} */


.footer{
  text-align: center;
  font-size: 8pt;
  color: grey;
  padding: 40px;
}

.fadeIn{
   -webkit-animation: fadein 1s;
      -moz-animation: fadein 1s;
       -ms-animation: fadein 1s;
        -o-animation: fadein 1s;
           animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@media only screen and (max-width: 800px){
  .hero h1{
    font-size: 48pt;
  }
  .section h1{
    font-size: 36pt;
  }
  .main-wrapper p{
    font-size: 12pt;
  }
}
