@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800,900&display=swap');

.App {
  text-align: center;
}

body{
  font-family: 'Raleway', sans-serif;
  background-image: url('./images/backdrop3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.main-wrapper p{
  line-height: 2em;
  font-size: 16pt;
}

/*NAVBAR SECTION*/
.navigation-bar {
  padding:10px 0;
  padding-left: 30px;
  background-color: #fff;
  background-image: url('./images/backdrop.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.05);
}
nav ul li a:hover{
    background-color:#f5cfcb;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-property: background-color;
}
li > a.active {
    background-color:#f5cfcb;
}
.navigation-bar a {
  border-radius: 4.5px;
  margin-right: 10px;
}
.navbar-toggler{
  border: none;
}
.nav-bar-option {
  font-size: 20px;
  padding: 10px;
  color: #dd6e42;
}

/*HOMEPAGE SECTION*/
.hero{
  text-align: center;
  margin: 150px auto;
}
.hero h1{
  font-weight: 900;
  font-size: 72pt;
  text-shadow: 8px 8px #dd6e42;
}

/*CONTENT GLOBAL SECTION*/
.section{
  max-width: 1000px;
  margin: 0 auto;
}
.section h1{
  padding-top: 25px;
  padding-bottom: 50px;
  font-weight: 800 !important;
  color: #dd6e42 !important;
  font-size: 36pt;
}
.row{
  margin-bottom: 200px;
}

/*ANNOUNCEMENT LIST SECTION*/
ul.announcement-list{
  list-style-type: circle;
}

/*BIOHACK WINNER SECTION*/
.biohack-winners{
  max-height: 600px;
  margin: 10px;
  padding: 30px;
  border-radius: 10px;
  /* background: #f7e1da; */
  background: #fff;
  text-align: center;
  margin-bottom: 40px;
  /* box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15); */
  box-shadow: 0 4px 2px -15px rgba(0, 0, 0, 0.15);
  transition-duration: 400ms, 400ms;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-property: box-shadow, background-color;
  transition-delay: initial, initial;
}
.biohack-winners:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}
.biohack-winners h4{
  font-weight: bold;
  color: #dd6e42;
}
.biohack-winners p{
  color: #dd6e42;
  text-align: left;
  font-size: 12pt;
}
.biohack-pictures {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 40px;
}
.icons-card {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 80px;
  color: #dd6e42;
}
.icons-modal{
  font-size: 30px;
  text-align: center;
}
.modal-title{
  font-weight: bold;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
}
.biohack-winners-modal .modal-content{
  font-size: 18px;
  background: #f7e1da;
  color: #dd6e42;
  padding: 25px 25px 25px 25px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.biohack-winners-card img{
  height: 220px;
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
}
.biohack-winners-card p{
  font-family: 'Raleway', sans-serif;
}
.btn{
  background-color: #dd6e42;
  color: #ffffff;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 25px 0 rgba(0, 0, 0, 0.1);
  }
.btn:hover{
  background-color: #ffffff;
  color: #dd6e42;
}
/* TODO: PROPERLY RESIZE IMAGES*/
.biohack-picture-cont{
  border-radius: 25px;
  width: 400px;
  height: 250px;
}
.biohack-picture-cont img{
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: block;
}
.cardBody{
  font-size: 14pt;
}

/*CONTACT SECTION*/
.contact {
  display:inline-block;
  vertical-align: middle;
}
.contact a{
  padding-left: 10px;
  padding-right: 10px;
  color: #dd6e42;
  font-size: 40px;
  text-align: center;
}
.contact a:hover{
  color: #e2eb98;
  -o-transition:color 2s ease-out, background 2s ease-in;
  -ms-transition:color 2s ease-out, background 2s ease-in;
  -moz-transition:color 2s ease-out, background 2s ease-in;
  -webkit-transition:color 2s ease-out, background 2s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 2s ease-in;
}

/*??? SECTION*/
.App-logo {
  height: 40vmin;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #09d3ac;
}

/*VIRUS IMAGE SECTION*/
.virus {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height : 500px;
  width: 500px;
  position: sticky;
  align-items: center;
}
.happy-virus{
  max-width: 300px;
  max-height:300px;
}
.footer-virus{
  max-width: 75px;
  max-height: 75px;
}


/*FAQ SECTION*/
.faqs{
  max-width: 100%;
  color: #f7e1da;
  width: 100%;
  margin-bottom: 5px;
  margin: 0 auto;
}
.faqs .faq {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #dd6e42;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 25px 0 rgba(0, 0, 0, 0.1);
}
.faqs .faq .faq-question{
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
	transition: ease 220ms;
}
.faqs .faq .faq-question .faq-arrow{
  float: right;
  margin-top: 10px;
  font-size: 25px;
  transition: 0.4s linear;
}
.faqs .faq .faq-answer{
  margin: 10px;
  font-size: 18px;
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
	transition: ease 220ms;
}
/* When the component is clicked */
.faqs .faq.open {
  background-color: #f7e1da;
  color: #dd6e42;
}
.faqs .faq.open .faq-question {
  margin-bottom: 15px;
}
.faqs .faq.open .faq-question .faq-arrow {
  transform: rotate(180deg);
  transition: 0.4s linear;
}
.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
}
.faq-question-text{
  max-width: 85%;
}
.faq-arrow-conatainter{
  margin-right: 10px;
}

/*FOOTER SECTION*/
.footer{
  text-align: center;
  margin-bottom: 50px;
}
.footer p{
  font-size: 10pt;
}

/*GLOBAL ANIMATION SECTION*/
.fadeIn{
   -webkit-animation: fadein 1s;
      -moz-animation: fadein 1s;
       -ms-animation: fadein 1s;
        -o-animation: fadein 1s;
           animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*SPONSORS SECTION*/
.sponsors_logo{
  max-width: 265px;
  padding: 30px;
  transform: scale(1.0);
	transition: all ease-in-out 300ms;
}
.sponsors_logo:hover{
  transform: scale(1.25);
	transition: all ease-in-out 300ms;

}

/*MEDIA QUERIES SECTION*/
@media only screen and (max-width: 800px){
  .section{
    padding: 0 30px;
  }
  .hero h1{
    font-size: 48pt;
  }
  .section h1{
    font-size: 24pt;
  }
  .main-wrapper p{
    font-size: 12pt;
  }
  .virus {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;

  }
  .sponsors_logo{
    max-width: 200px;
  }
  .happy-virus{
    max-width: 200px;
    max-height: 200px;
  }
  .footer p{
    font-size: 8pt;
  }
}
